#filetype filename
{rep1_files}
{inp1_files}
{rep2_files}
{inp2_files}
name {name}
file-format bam
peaktype sharp
difftest TRUE
threshold 1e-5
normalization intra-group
num-processors 4
keep-max-dup {dupnum}
input-directory /TL/deep/fhgfs/projects/pebert/collab/deepliver/input
output-directory {outputdir}